---
title: Wallpaper Disco
---

<!-- Description: Wallpaper Disco was created and curated by Tomm Wahlin, and was a part of the 100 days of making project. -->


<!-- <h1>Friends</h1>
<ol>
  <% data.patterndata.patterns.each do |p| %>
  <li><%= p["name"] %> <%= p["description"] %></li>
  <% end %>
</ol> -->






<% data.patterndata.patterns.each do |p| %>
<%nameSlug = p['name'].downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '') %>
<section class="<%= nameSlug%>" id="<%= nameSlug%>">
  <div class="wrap">
    <h3><%= p['name']%></h3>
    <p><%= p["description"] %></p>
    <ul>
      <li><a href="#">Button 1</a></li>
      <li><a href="#">Button 2</a></li>
      <li><a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fwww.flickr.com%2Fphotos%2Fkentbrew%2F6851755809%2F&media=http%3A%2F%2Ffarm8.staticflickr.com%2F7027%2F6851755809_df5b2051c9_z.jpg&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="none" data-pin-color="white"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_white_20.png" /></a></li>
    </ul>
  </div>
</section>
<% end %>



